/* fsdff */
.app-heading{
    text-align: center;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 1%;
    width: auto;
    height: auto;
}
.app-heading h1{
 font-size: 1.8rem;
 font-family: sans-serif;
 font-weight: 600;
 color: midnightblue;
}
.discription{
   /*margin-top:1%;*/
   width: auto;
   height: auto;
   align-content: center;
}
.discription .form-group{
 margin-left: 15%;
 margin-right: 15%;
 font-size: 1rem;
 font-family: sans-serif;
 font-weight: 550;
}
#exampleFormControlTextarea1{
 max-width: 100%;
 max-height: 100%;
}
.label-text{
  font-size: 0.7rem;
 font-family: sans-serif;
 font-weight: 550;
}
.category-date-container .row{
 margin-left: 14%;
 margin-right: 14%;
}
.add-delete-btns-container{
 width: auto;
 height: auto;
 align-content: center;
}
.add-delete-btns-container div{
 margin-left: 40%;
 margin-right: 15%;
 font-size: 1rem;
 font-family: sans-serif;
 font-weight: 550;
}
.add-delete-btns-container div button{
 margin:0.8rem;
}
.btn-dark{
  /*margin-right:10%;*/
  /*width: 5rem;*/
}
.btn-dark{
 /*margin-left:10%;*/
 /*width: 5rem;*/
}
.mg5px{
 margin-left:2px;
 margin-right: 3px;
}
.list-container{
 width: auto;
   height: auto;
   align-content: center;
}
.list-container ul{
 margin-top: 2%;
 margin-right: 15%;
 margin-left: 15%;
}
.list-container ul li input{
 
}
.inp{
  height: 1.5rem;
  width: 1.5rem;
  background-color: white !important;
  border:2px solid grey;
}
.date-and-details{
 display: flex;
}
.check-btn{
  margin-right: 1.2rem;
}
.discription-display{
 font-size: 1.5rem;
 font-family: serif;
 font-weight: 520;
}
.work{
font-size: 1.2rem;
font-family: sans-serif;
font-weight: 530;
background-color:orange;
box-shadow: 0 0 20px lightgrey; 
border:2px lightgrey;
width: 10rem;
height: auto;
padding: 10px;
text-align: center;
}
.list-group-item{
 display: flex;
 justify-content: space-between;
}
.personal{
 font-size: 1.2rem;
font-family: sans-serif;
font-weight: 530;
background-color:cyan;
box-shadow: 0 0 20px lightgrey; 
border:2px lightgrey;
width: 10rem;
height: auto;
padding: 10px;
text-align: center;
}
.school{
 font-size: 1.2rem;
font-family: sans-serif;
font-weight: 530;
background-color:green;
box-shadow: 0 0 20px lightgrey; 
border:2px lightgrey;
width: 10rem;
height: auto;
padding: 10px;
text-align: center;
}
.home{
font-size: 1.2rem;
font-family: sans-serif;
font-weight: 530;
background-color:#7C619D;
box-shadow: 0 0 20px lightgrey; 
border:2px lightgrey;
width: 10rem;
height: auto;
padding: 10px;
text-align: center;
}
.misc{
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 530;
  background-color:peru;
  box-shadow: 0 0 20px lightgrey; 
  border:2px lightgrey;
  width: 10rem;
  height: auto;
  padding: 10px;
  text-align: center;
}